@font-face {
  font-family: "mondwest";
  src: url('fonts/mondwest/PPMondwest-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "sfpro";
  src: url('fonts/sf/SF-Pro-Display-Light.otf') format("opentype");
}

.bottleneck {
  --color-primary: #619698;
  --color-secondary: #25454D;
  background-color: var(--color-primary);
  font-family: 'sfpro';
  text-align: center;
}

.light-theme {
  --color-primary: white;
  --color-secondary: #619698;
}

.nav-container {
  color: var(--color-secondary);
  font-family: 'mondwest';
  font-size: 20px;
  height: 80px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
}

.nav {
  align-items: center;
  font-size: 20px;
  border-radius: 99px;
  cursor: pointer;
  margin: 0px;
  transition: color 0.15s ease-in;
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 150px;
  font-size: 20px;
  border-radius: 99px;
  cursor: pointer;
  margin: 0px;
  transition: color 0.15s ease-in;
  z-index: 999;
}

.sidebaritem {
  text-align: left;
  font-size: 24px;
  z-index: 999;
}

.sidebaritem a {
  color: var(--color-secondary);
  padding-left: 0px;
}

.navitem a {
  color: var(--color-secondary);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 150px;
  background-color: #8FBCBE;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

.hero-section {
  min-height: 100vh;
}

.transparency-section {
  width: 100%;
  margin: 0px;
}

.layer-section {
  background-color: #DFEAEA;
  width: 100%;
  margin: 0px;
  color: var(--color-secondary);
}

.download-section {
  background-color: var(--color-primary);
  color: white;
}

.notification-section {
  background-color: var(--color-primary);
  width: 100%;
  border-radius: 64px 64px 0px 0px;
}

.discover-section {
  background-color: white;
  width: 100%;
  margin: 0px;
  border-radius: 0px 0px 64px 64px;
  color: var(--color-secondary);
}

.features-section{
  color: var(--color-secondary);
}

.videoproject {
  width: 60%;
  border-radius: 24px
}

.giftransparency {
  max-height: 40vh
}

.footer{
  background-color: var(--color-secondary);
  color: white;
  border-radius: 64px 64px 0px 0px;
}

.logofooter {
  font-size: 64px;
  font-family: mondwest;
}

h1 {
  font-family: "mondwest";
  font-size: 10vw;
  text-align: center;
  color: white;
}

h2 {
  font-size: 48px;
  font-family: mondwest;
}

h3 {
  font-size: 32px;
  font-family: mondwest;
}

h4 {
  font-size: 32px;
  font-family: sfpro;
  color: white;
}

h6 {
  font-size: 24px;
  font-family: mondwest;
}

p {
  font-size: 18px;
}

.btn {
  height: 38px;
  border-radius: 21px;
  border-width: 1px;
  font-family: 'mondwest';
  font-size: 20px;
  border-color: var(--color-primary);;
  color: var(--color-primary);
  background-color: none;
  width: 140px;
}

.btn-big {
  height: 48px;
  border-width: 2px;
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
}

.light-theme:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.subtitle {
  max-width: 600px;
}

.imgmobile img {
  height: 80vh;
}

.videoscroll{
  width: 60%
}

.navlogo{
  width: 140px;
}

.navlogo img {
  width: 120%;
}






@media (max-width: 768px) {

  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 32px;
    font-family: mondwest;
    max-width: 300px;
  }

  h3 {
    font-size: 24px;
  }

  h4{
    font-size: 24px;
  }

  .imgmobile img {
    width: 80vw;
    height: auto;
  }

  .videoscroll{
    width: 90%
  }

  .notification-section {
    border-radius: 32px 32px 0px 0px;
  }

  .discover-section {
    background-color: white;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 32px 32px;
  }

  .hero-section {
    min-height: auto;
  }

  .footer{
    background-color: var(--color-secondary);
    color: white;
    border-radius: 50px 50px 0px 0px;
  }

  .videoproject{
    width: 90%;
    border-radius: 25px
  }

  .discover-section {
    border-radius: 0px 0px 50px 50px;
  }

  .giftransparency {
    width: 90%
  }
}
